Repository pypa/pip-audit, pull requests merged in 2022-01, with the labels that each got.

#217 Simplify local development steps/guide
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  CONTRIBUTING.md
  Makefile
Labels: component:docs, component:cicd

#219 Makefile: use PY_MODULE everywhere
  Makefile
Labels: refactoring

#223 cli: support `--fix --dry-run`
  CHANGELOG.md
  Makefile
  README.md
  pip_audit/_cli.py
Labels: component:cli

#228 Make the CLI more responsive
  pip_audit/_subprocess.py
  pip_audit/_virtual_env.py
  test/test_subprocess.py
  test/test_virtual_env.py
Labels: component:cli, performance
