Repository pypa/pip-audit, pull requests merged in 2022-03, with the labels that each got.

#246 Support `pyproject.toml`
  CHANGELOG.md
  README.md
  pip_audit/_cli.py
  pip_audit/_dependency_source/__init__.py
  pip_audit/_dependency_source/pyproject.py
  test/dependency_source/test_pyproject.py
Labels: enhancement, component:cli, component:dep-sources

#249 pip_audit/dependency_source: match candidate names against project
  CHANGELOG.md
  pip_audit/_dependency_source/resolvelib/pypi_provider.py
  setup.py
  test/dependency_source/test_resolvelib.py
Labels: component:dep-sources

#250 setup: pin black >= 22.3.0
  setup.py
Labels: component:cicd, dependencies
