Repository pypa/pip-audit, pull requests merged in 2022-08, with the labels that each got.

#343 pyproject: Use recursive extras to optimize the build process
  .github/workflows/ci.yml
  Makefile
  pyproject.toml
Labels: component:cicd, refactoring

#346 workflows/release: bump sigstore action, upload signing artifacts to release
  .github/workflows/release.yml
Labels: component:cicd

#353 pyproject: fix classifiers
  pyproject.toml
Labels: bug

#357 resolvelib: Consider a project "not found" if its PyPI project page has no links
  CHANGELOG.md
  pip_audit/_dependency_source/resolvelib/pypi_provider.py
  test/dependency_source/test_resolvelib.py
Labels: bug, component:dep-sources

#355 requirement: Improve error message for unpinned URL requirements
  CHANGELOG.md
  pip_audit/_dependency_source/requirement.py
  test/dependency_source/test_requirement.py
Labels: enhancement, component:dep-sources

#344 resolvelib, test: handle venv creation errors gracefully
  pip_audit/_dependency_source/resolvelib/pypi_provider.py
  test/dependency_source/resolvelib/__init__.py
  test/dependency_source/resolvelib/test_pypi_provider.py
  test/dependency_source/resolvelib/test_resolvelib.py
Labels: component:dep-sources
