Repository pypa/pip-audit, pull requests merged in 2025-04, with the labels that each got.

#888 PEP 751 support
  CHANGELOG.md
  README.md
  pip_audit/_cli.py
  pip_audit/_dependency_source/__init__.py
  pip_audit/_dependency_source/pylock.py
  test/assets/pylock.basic.toml
  test/assets/pylock.invalid-version.toml
  test/assets/pylock.invalid.toml
  test/assets/pylock.missing-packages.toml
  test/assets/pylock.missing-version.toml
  test/assets/pylock.package-missing-name.toml
  test/assets/pylock.skipped.toml
  test/conftest.py
  test/dependency_source/test_pylock.py
Labels: enhancement, component:dep-sources

#810 Adding --osv-url argument to allow use of private OSV vulnerability services
  .gitignore
  CHANGELOG.md
  README.md
  pip_audit/_cli.py
  pip_audit/_service/osv.py
  pip_audit/_service/pypi.py
  test/test_cli.py
Labels: enhancement, component:cli, component:vuln-sources

#891 chore: metadata cleanup
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/zizmor.yml
  Makefile
  pyproject.toml
Labels: chore
